/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*box-sizing*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?nkytjk");
  src: url("../fonts/icomoon/icomoon.eot?nkytjk#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?nkytjk") format("truetype"), url("../fonts/icomoon/icomoon.woff?nkytjk") format("woff"), url("../fonts/icomoon/icomoon.svg?nkytjk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-phone:before {
  content: "\e900"; }

.icon-arrow-down:before {
  content: "\e90a"; }

.icon-arrow-up:before {
  content: "\e901"; }

.icon-arrow-right:before {
  content: "\e902"; }

.icon-arrow-left:before {
  content: "\e903"; }

.icon-dot-menu:before {
  content: "\e904"; }

.icon-sign-in:before {
  content: "\e905"; }

.icon-search:before {
  content: "\e906"; }

.icon-shopping_cart:before {
  content: "\e907"; }

.icon-menu:before {
  content: "\e908"; }

.icon-home:before {
  content: "\e909"; }

/*colors*/
/*fonts*/
@font-face {
  font-family: 'pt_sansregular';
  src: url("../fonts/ptsansregular/ptsansregular.eot");
  src: url("../fonts/ptsansregular/ptsansregular.eot?#iefix") format("embedded-opentype"), url("../fonts/ptsansregular/ptsansregular.woff2") format("woff2"), url("../fonts/ptsansregular/ptsansregular.woff") format("woff"), url("../fonts/ptsansregular/ptsansregular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'pt_sansbold';
  src: url("../fonts/ptsansbold/ptsansbold.eot");
  src: url("../fonts/ptsansbold/ptsansbold.eot?#iefix") format("embedded-opentype"), url("../fonts/ptsansbold/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold/ptsansbold.woff") format("woff"), url("../fonts/ptsansbold/ptsansbold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*main styles*/
.clearfix:after,
.wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/*

================================================================================
|                                     MAIN STYLES                                     |
================================================================================
*/
.main-wrapper {
  padding: 0 0 0 0;
  min-width: 320px;
  position: relative;
  overflow: hidden;
  min-height: 100%; }

.wrapper {
  min-width: 320px;
  max-width: 1244px;
  margin: 0 auto;
  position: relative; }

/* titles */
h1 {
  font-size: 2em;
  line-height: 1.1em;
  padding: 15px 0 15px 0;
  font-weight: 400;
  color: #17202f;
  font-family: 'pt_sansregular'; }

h2 {
  font-size: 1.8em;
  line-height: 1.1em;
  padding: 15px 0 15px 0;
  font-weight: 400;
  color: #17202f;
  font-family: 'pt_sansbold'; }

a {
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }

button {
  outline: none; }

/* text position */
/* loader */
.loaded .main-wrapper {
  visibility: hidden; }

.icon-load {
  background: url(../img/loader.gif) no-repeat left top;
  width: 40px;
  height: 40px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-left: -20px;
  display: none; }

.loaded .icon-load {
  display: block; }

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header {
  width: 100%;
  min-width: 320px;
  text-align: left;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1; }

.nav-block {
  width: 16.6666%;
  text-align: center; }

.header__logo-img {
  width: 192px; }

.header__list {
  width: 100%; }

.header__form {
  display: none;
  position: relative;
  width: 221px; }
  .header__form-input {
    width: 221px;
    height: 31px;
    border: 1px solid #b9b8bd;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    font-size: 9px;
    padding: 0 10px;
    display: block; }
  .header__form-btn {
    background-color: transparent;
    border: 0;
    color: red;
    background-color: #eee;
    width: 30px;
    height: 30px;
    background: url(../img/search.png) 10px 10px no-repeat;
    position: absolute;
    top: -4px;
    right: 7px;
    cursor: pointer; }

.header__item {
  display: inline-block;
  float: left; }

.header__link {
  display: block;
  text-align: center;
  color: #dbdbdc;
  font-size: 24px;
  background-color: #f0f1f6; }
  .header__link--menu {
    color: #fff;
    background-color: #3eade2; }
  .header__link:hover {
    background-color: #3eade2;
    color: #fff; }

.header__icon {
  line-height: 40px; }

.header__logo {
  margin: 15px 20px;
  display: block;
  width: 192px; }
  .header__logo-img {
    width: 192px;
    height: 23px; }
  .header__logo-sub {
    display: block;
    font-family: "pt_sansregular", Verdana, Geneva, sans-serif;
    color: #747688;
    font-size: 13px;
    padding-top: 3px; }

/*menu*/
.deploy__item {
  position: relative; }

.menu-icon {
  position: absolute;
  top: 6px;
  color: #cb944c;
  font-size: 21px;
  line-height: 24px; }

.dd-deploy {
  position: relative; }

.icon-dot-menu {
  left: -19px; }

.icon-arrow-down {
  right: -7px;
  font-size: 14px; }

.icon-arrow-right {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #cb944c; }

.deploy__dd-menu {
  display: none;
  position: relative;
  z-index: 9999;
  text-align: left;
  position: absolute;
  top: 51px;
  left: -15px;
  width: 245px;
  background-color: #fff;
  border: 0.393701px solid #dddfdf;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 1.5px 2.6px 1px rgba(108, 104, 104, 0.33);
          box-shadow: 1.5px 2.6px 1px rgba(108, 104, 104, 0.33);
  padding: 15px 0;
  margin-top: -10px; }
  .deploy__dd-menu-link {
    display: block;
    position: relative;
    color: #666;
    padding: 7px 20px 7px 30px;
    font-family: "pt_sansregular", Verdana, Geneva, sans-serif; }
    .deploy__dd-menu-link:before {
      position: absolute;
      content: '';
      top: 10px;
      left: 15px;
      width: 8px;
      height: 8px;
      background-color: #fff;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      border: 1px solid #cb944c; }
    .deploy__dd-menu-link:hover {
      background-color: #e9e9ea; }

.deploy__dd-menu--two {
  display: none;
  left: 241px;
  top: 0px; }

.deploy__dd-menu-title {
  font-family: "pt_sansbold", Verdana, Geneva, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  color: #cb944c;
  padding-left: 15px;
  padding-bottom: 7px;
  display: block; }

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content {
  width: 100%;
  min-width: 320px;
  text-align: left;
  background: #fff; }

/*slider*/
.slider {
  z-index: 0; }
  .slider__item {
    position: relative;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 135px; }
  .slider__img {
    width: 100%;
    display: block; }
  .slider__descr {
    position: absolute;
    top: 42px;
    left: 27px;
    line-height: 18px;
    background-color: rgba(203, 148, 76, 0.88);
    font-family: "pt_sansregular", Verdana, Geneva, sans-serif;
    font-size: 16px;
    color: #fff;
    padding: 4px 23px 4px 7px;
    letter-spacing: 0.3px; }

/*controls*/
/*arrows*/
.slick-arrow {
  position: absolute;
  z-index: 1001;
  top: 34%;
  border: 0;
  background-color: #cb944c;
  opacity: 0.88;
  color: #fff;
  font-size: 21px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 4px 0; }
  .slick-arrow:hover {
    background-color: #fff;
    color: #cb944c;
    opacity: 0.88; }

.slick-prev {
  left: 0; }

.slick-next {
  right: 0; }

/*dots*/
.slick-dots {
  text-align: center;
  margin: 45px 0;
  z-index: 1001; }

.slick-dots li {
  display: none;
  margin: 0 10px; }

.slick-dots button {
  border: 0;
  display: inline-block;
  cursor: pointer;
  color: transparent;
  width: 18px;
  height: 18px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #cb944c;
  opacity: 0.7; }

.slick-dots .slick-active button {
  opacity: 1; }

/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer {
  text-align: left;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  min-width: 320px; }

/*media queries*/
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  #trigger_menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 16.66666%;
    height: 40px;
    background-color: transparent;
    display: block; }
  .deploy__menu-wrap {
    position: absolute;
    top: 41px;
    left: 0;
    width: 100%; }
  .menu-item {
    text-align: center;
    width: 100%; }
  .deploy__link {
    background-color: #2b3056;
    width: 100%;
    padding: 10px 0;
    display: block;
    background-color: #3eade2;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-family: "pt_sansregular", Verdana, Geneva, sans-serif; }
    .deploy__link:hover {
      opacity: 0.8; }
  .deploy__dd-menu {
    display: none !important; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .deploy__item {
    display: none; }
  .menu-item {
    display: block; } }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .wrapper {
    padding: 0 10px; }
  .header__logo {
    margin: 23px 28px 0 20px; }
  .header__logo-img {
    width: 179px;
    height: 23px; }
  .header__form {
    display: block; }
  .header__list {
    display: none; }
  .header__logo {
    display: block;
    float: left; }
  .deploy__item {
    display: none; }
  .deploy__search {
    float: left;
    width: 29%;
    margin-top: 23px; }
  .deploy__phone {
    float: right;
    width: 140px;
    height: 25px;
    margin-top: 24px; }
    .deploy__phone-number {
      font-family: "pt_sansregular", Verdana, Geneva, sans-serif;
      color: #181616;
      letter-spacing: -0.4px; }
  .deploy__shedule {
    float: right;
    width: 118px;
    height: 25px;
    margin-top: 24px; }
    .deploy__shedule-wrap {
      font-size: 10px;
      font-family: "pt_sansregular", Verdana, Geneva, sans-serif; }
    .deploy__shedule-time {
      color: #cb944c; }
  .deploy__price {
    float: right;
    margin-right: 15px;
    margin-top: 17px; }
  .deploy__cart-icon {
    float: left;
    line-height: 18px;
    color: #cb944c;
    font-size: 20px;
    margin-right: 7px; }
  .deploy__cart-detail {
    float: left;
    color: #2b3056;
    font-size: 13px;
    font-family: "pt_sansbold", Verdana, Geneva, sans-serif;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 0.3px; }
  .deploy__cart-count {
    background-color: #cb944c;
    height: 18px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    color: #fff;
    display: inline-block;
    text-align: center;
    padding: 0 3px; }
  .deploy__cart-text {
    font-size: 10px; }
  .deploy__sign-in {
    float: right;
    width: 86px;
    margin-top: 17px; }
    .deploy__sign-in:hover {
      opacity: 0.7; }
    .deploy__sign-in-icon {
      color: #cb944c;
      font-size: 20px;
      line-height: 17px;
      float: left;
      margin-right: 4px; }
    .deploy__sign-in-text {
      color: #2b3056;
      font-family: "pt_sansbold", Verdana, Geneva, sans-serif;
      text-transform: uppercase;
      font-size: 13px; }
  .deploy__menu-wrap {
    border-top: 1px solid #dddfdf;
    border-bottom: 1px solid #dddfdf;
    width: 100%;
    margin-top: 5px; }
  .deploy__menu {
    float: left;
    width: 100%;
    margin-top: 6px;
    padding-left: 15px;
    text-align: center; }
  .deploy__item {
    display: inline-block; }
  .deploy__link {
    display: block;
    padding: 13px 12px 18px;
    font-family: "pt_sansbold", Verdana, Geneva, sans-serif;
    color: #181616;
    text-transform: uppercase;
    font-size: 13px; }
  .header__form-btn {
    outline: 0; }
  /*slider*/
  .slider {
    margin-top: 14px;
    margin-bottom: 200px; }
    .slider__item {
      height: 165px; }
  .slick-arrow {
    padding: 25px 0;
    top: 24%; }
  .slick-dots {
    margin: 20px 0; }
  .slider__descr {
    font-size: 23px;
    top: 49px;
    padding: 10px 15px;
    line-height: 25px; }
  .slick-dots li {
    display: inline-block; }
  .slick-dots button {
    width: 12px;
    height: 12px; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 830px) {
  .deploy__search {
    width: 37%; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 940px) {
  .deploy__search {
    width: 45%; }
  .header__form {
    width: 350px; }
    .header__form-input {
      width: 350px; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 1070px) {
  .deploy__search {
    width: 51%; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 1200px) {
  .deploy__search {
    width: 57%; }
  .header__form {
    width: 450px; }
    .header__form-input {
      width: 450px; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1244px) {
  header {
    padding-top: 12px; }
  .header__logo {
    margin-left: 5px;
    width: 200px; }
    .header__logo-sub {
      font-size: 14px; }
  .header__logo-img {
    width: 247px;
    height: 30px; }
  .header__form-input {
    padding: 19px 10px;
    font-size: 14px;
    margin-top: -5px;
    width: 496px; }
  .header__form-btn {
    top: 1px;
    right: -44px;
    height: 38px;
    width: 38px; }
  .deploy__search {
    width: 45%;
    margin-left: 62px; }
  .deploy__phone {
    width: 195px;
    margin-top: 30px; }
  .deploy__shedule {
    width: 145px;
    margin-top: 26px; }
  .deploy__shedule-wrap {
    font-size: 14px; }
  .deploy__phone-number {
    font-size: 23px; }
  .deploy__cart-detail {
    font-size: 14px; }
  .deploy__cart-text {
    font-size: 14px; }
  .deploy__sign-in {
    position: absolute;
    top: 88px;
    right: 0;
    z-index: 9999; }
  .deploy__sign-in-text {
    font-size: 14px; }
  .deploy__price {
    position: absolute;
    top: 88px;
    right: 110px; }
  .deploy__menu-wrap {
    margin-top: 14px; }
  .deploy__menu {
    text-align: left;
    padding-left: 21px; }
  .deploy__cart-icon {
    font-size: 30px; }
  .deploy__sign-in-icon {
    font-size: 30px; }
  .deploy__sign-in {
    width: 100px; }
  .deploy__link {
    font-size: 16px; }
  /*slider*/
  .slider {
    margin-top: 39px; }
    .slider__item {
      height: 330px; }
  .slick-arrow {
    top: 29%;
    padding: 39.5px 5px;
    font-size: 32px; }
  .slider__descr {
    font-size: 42px;
    line-height: 45px;
    top: 113px;
    left: 50px; }
  .slick-dots {
    margin-top: 42px; }
  .menu-icon {
    top: 8px;
    font-size: 24px; }
  .icon-arrow-down {
    font-size: 16px; }
  .slick-dots button {
    width: 18px;
    height: 18px; } }
