@font-face {
    font-family: 'pt_sansregular';
    src: url('../fonts/ptsansregular/ptsansregular.eot');
    src: url('../fonts/ptsansregular/ptsansregular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ptsansregular/ptsansregular.woff2') format('woff2'),
         url('../fonts/ptsansregular/ptsansregular.woff') format('woff'),
         url('../fonts/ptsansregular/ptsansregular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pt_sansbold';
    src: url('../fonts/ptsansbold/ptsansbold.eot');
    src: url('../fonts/ptsansbold/ptsansbold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ptsansbold/ptsansbold.woff2') format('woff2'),
         url('../fonts/ptsansbold/ptsansbold.woff') format('woff'),
         url('../fonts/ptsansbold/ptsansbold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}