/*colors*/
$brand-color: #3eade2;
$grey-color: #dbdbdc;
$light-grey: #f0f1f6;
$accent-color: #cb944c;
$text-color: #181616;
$blue-color: #2b3056;
/*fonts*/
$font: 'pt_sansregular', Verdana, Geneva, sans-serif;
$title-font: 'pt_sansbold', Verdana, Geneva, sans-serif;